<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="static/style.css">

</head>
<body>
   
<div class="container">

   <h3 class="title"> <mark>it's a fresh day and we've got : </mark></h3>
   

   <div class="products-container">

      <div class="product" data-name="p-1">
         <img src="static/img/b&b-bread.webp" alt="">
         <h3>white sandwich bread</h3>
         <div class="price">65 INR</div>
         <div class="buttons">
            <a href="#" class="buy">buy now</a>
            <a href="#" class="cart">add to cart</a>
         </div>
      </div>

      <div class="product" data-name="p-2">
         <img src= 'static/img/b&b-muffin.webp'alt="">
         <h3>chocolate chip muffins</h3>
         <div class="price">125 INR</div>
         <div class="buttons">
            <a href="#" class="buy">buy now</a>
            <a href="#" class="cart">add to cart</a>
         </div>
      </div>

      <div class="product" data-name="p-3">
         <img src='static/img/b&b-loafcake.webp' alt="">
         <h3>sliced loaf cake</h3>
         <div class="price">150 INR</div>
         <div class="buttons">
            <a href="#" class="buy">buy now</a>
            <a href="#" class="cart">add to cart</a>
         </div>
      </div> 
      

      <div class="product" data-name="p-5">
        <img src= 'static/img/m&e-milk.webp'alt="">
        <h3>filtered milk</h3>
        <div class="price">160 INR</div>
        <div class="buttons">
         <a href="#" class="buy">buy now</a>
         <a href="#" class="cart">add to cart</a>
      </div>
      </div>

      <div class="product" data-name="p-5">
         <img src= 'static/img/m&e-egg.webp'alt="">
         <h3>white eggs (18x)</h3>
         <div class="price">195 INR</div>
         <div class="buttons">
            <a href="#" class="buy">buy now</a>
            <a href="#" class="cart">add to cart</a>
         </div>
      </div>

      <div class="product" data-name="p-6">
         <img src='static/img/m&e-cheese.webp' alt="">
         <h3>cream cheese (8 oz.)</h3>
         <div class="price">120 INR</div>
         <div class="buttons">
            <a href="#" class="buy">buy now</a>
            <a href="#" class="cart">add to cart</a>
         </div>
      </div>

   </div>
</div>
