<!DOCTYPE html>
<html lang="en">

<head>
  <title>store name</title>
  <link rel="stylesheet" href="static/main.css">
  <link rel="shortcut icon" href="static/img/logo.png">
</head>

<body>

  <center>
    <img src="static/img/logo.png" height="100" width="100">
  </center>
  <div class="center">
    <h1>let's get you started</h1>
    <form method="post">
      <div class="txt_field">
        <input type="text" name="newusername" required>
        <span></span>
        <label>*enter contact number/e-mail*</label>
      </div>
      <div class="txt_field">
        <input type="password" name="newpassword" required>
        <span></span>
        <label>*pick a password(max.12 characters)*</label>
      </div>
      <input type="submit">
      <div class="signup_link">

      </div>
    </form>
  </div>

</body>

</html>